<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>summary</key>
	<string>This version of iOS requires us to ask for permission to track som data from this device to improve your ads. Learn how we limit the use of this information if you don't turn on this device setting.  We use information about your activity received  from other apps and websites to :</string>
	<key>title</key>
	<string>You're on iOS %@</string>
	<key>trackings</key>
	<array>
		<dict>
			<key>content</key>
			<string>黄金战甲</string>
			<key>icon</key>
			<string>黄金战甲</string>
		</dict>
		<dict>
			<key>content</key>
			<string>黄金战甲</string>
			<key>icon</key>
			<string>黄金战甲</string>
		</dict>
		<dict>
			<key>content</key>
			<string>黄金战甲</string>
			<key>icon</key>
			<string>黄金战甲</string>
		</dict>
	</array>
</dict>
</plist>
